{% extends 'base1.html' %}
{% block head %}
<style>
    .table-responsive {
          border: 1px solid #ccc;
          border-collapse: collapse;
          padding: 0;
          width: 100%;
          table-layout: fixed;
          max-width: 50%;
          margin: 1em auto 2em;
        }

        table caption {
          font-size: 1.5em;
          margin: .5em 0 .75em;
        }
        caption{
          font-size : 18px;
          text-transform: uppercase;
          color: #5469d4;
        }

        table tr {
          background-color: #f8f8f8;
          border: 1px solid #ddd;
          padding: .35em;
        }

        table th,
        table td {
          padding: .625em;
          text-align: center;
        }

        table th {
          font-size: .85em;
          letter-spacing: .1em;
          text-transform: uppercase;
        }

        @media screen and (max-width: 600px) {
          table {
            border: 0;
          }

          table {
            font-size: 1.3em;
          }

          table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
          }

          table tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
          }

          table td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
          }

          table td::before {
            /*
            * aria-label has no advantage, it won't be read inside a table
            content: attr(aria-label);
            */
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
          }

          table td:last-child {
            border-bottom: 0;
          }
        }
        i{
            margin-left: 20px;
        }
        /* The Modal (background) */
        .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
          padding-top: 100px; /* Location of the box */
          left: 0;
          top: 0;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            display: block;
            background-color: #fff;
            border: none;
            border-radius: 8px;
            -webkit-box-shadow: 1px 4px 10px 0px rgba(48,47,48,0.57);
            -moz-box-shadow: 1px 4px 10px 0px rgba(48,47,48,0.57);
            box-shadow: 1px 4px 10px 0px rgba(48,47,48,0.57);
            width: 500px;
            padding: 25px;
            font-family: 'Roboto', sans-serif;
            animation-name: openModal;
            animation-duration: .5s;
            margin: auto;

        }

        /* The Close Button */
        .close {
          color: #aaaaaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }

        .close:hover,
        .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }

        .dialog-edit-form, label{
           color: rgb(88, 88, 88);
           font-size: 12px;
           font-family: 'Roboto', sans-serif;
        }

        .dialog-title{
           color: #161616d5;
           font-size: 15px;
           line-height: 24px;
           margin-bottom: 16px;
           font-weight: 400;

        }

        .form-div{
           margin-top: 20px;
           margin-bottom: 23px;
           min-height: 40px;
           display: flex;
           flex-direction: column;
           flex-wrap: wrap;
        }

        .dialog-input{
           height: 30px;
           border: none;
           background-color: #F1F1F1;
           border-radius: 2px;
           padding: 5px;
        }

        .dialog-input{
           outline: none;
        }

        .dialog-input:focus{
           outline: none;
           border-bottom: #84E296 2px solid;
        }

        .dialog-select{
           height: 35px;
           background-color: #F1F1F1;
           border-radius: 2px;
           outline: none;
           border-bottom: #84E296 2px solid;
        }


        .form-button{
           display: flex;
           flex-direction: row-reverse;

        }

        .dialog-button{
           border: none;
           border-radius: 3px;
           padding: 10px 9px;
           text-decoration: none;
           font-family: 'Roboto', sans-serif;
           font-size: 14px;
           color: white;
           font-weight: 500;
        }

        .done{
           background-color: rgb(231, 86, 34);
        }

        .done:hover{
           background-color: rgb(255, 115, 0);
           cursor: pointer;

        }

        .cancel{
           margin-right: 5px;
           background-color: #6F58C9;
           color: white;
        }

        .cancel:hover{
           background-color: rgb(93, 5, 233);
           cursor: pointer;
        }

        .remove{
           margin-right: auto;
           background-color: #D1201D;
        }

        .remove:hover{
           background-color: rgb(253, 4, 0);
           cursor: pointer;
        }
</style>
{% endblock %}
{% block content %}
{% if data %}
    <table class="table-responsive" >
        <thead>
            <tr>
                <th scope="col">Group Name</th>
                <th scope="col">Update/Delete</th>
            </tr>
        </thead>
        <tbody>
          {% for i in data %}
            <tr>
                <td data-label="Group Name">{{i.groupName}}</td>
                <td data-label="Update/Delete"><i class="fa fa-pencil" aria-hidden="true" onclick="myFunction({{i.id}})"></i> <i class="fa fa-trash" aria-hidden="true" onclick="del_icon({{i.id}})"></i></td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
    {% else %}
    <br>
    <br>
    <div align="center">NO DATA TO DISPLAY</div>
    {% endif %}
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="dialog-title">UPDATE COMBINATION CHANGER</div>
                <form id="groupcc-update-form" action>
                    <input type="hidden" id="updateCombId">
                    <div class="form-div">
                        <label for="updateGroupName" area-label="Name">GROUP NAME</label>
                        <input type="text" class="dialog-input" id="updateGroupName">
                    </div>
                    <div class="form-button">
                        <button type="button" class="dialog-button done" id="updateUBtn"  data-done>Update</button>
                        <button type="button" class="dialog-button cancel" id="cancelUBtn" data-cancel>Cancel</button>
                        <button type="button" class="dialog-button remove" id="deleteUBtn" data-remove>Delete</button>
                    </div>
                </form>
        </div>
    </div>
    <!--  Ends Model One  -->
    <script>
        function myFunction(id) {

            $.ajax({
                 type:'GET',
                 url:'{% url "updateCombGroupNameReq" %}',
                 data:
                 {
                     objId: id,
                     csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                 },
                 success: function(response){
                    document.getElementById("updateCombId").value = response.grpId;
                    document.getElementById("updateGroupName").value = response.grpName;
                    modal.style.display = "block";
                 },
                 })
        }
    </script>
    <script>
        var modal = document.getElementById("myModal");
        var cancelUButton = document.getElementById("cancelUBtn");
        cancelUButton.onclick = function() {
          modal.style.display = "none";
        }


        var span = document.getElementsByClassName("close")[0];
        span.onclick = function() {
          modal.style.display = "none";
        }


        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
    </script>
    <script>
        var updateUButton = document.getElementById("updateUBtn");
        updateUButton.onclick = function() {
           $.ajax({
                 type:'GET',
                 url:'{% url "updateCombGroupName" %}',
                 data:
                 {
                     updateCombId: $("#updateCombId").val(),
                     updateGroupName: $("#updateGroupName").val(),
                     csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                 },
                 success: function(response){
                    window.location.reload()
                 },
                 })
          modal.style.display = "none";
        }
    </script>
    <script>
        function del_icon(id){
            del_comb_change(id);
        }
    </script>
    <script>
    function del_comb_change(id){
        $.ajax({
                 type:'GET',
                 url:'{% url "deleteCombinationGroupName" %}',
                 data:
                 {
                     updateCombId: id,
                     csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                 },
                 success: function(response){
                    window.location.reload()
                 },
                 })
          modal.style.display = "none";
    }
    </script>
    <script>
        var deleteUButton = document.getElementById("deleteUBtn");
        deleteUButton.onclick = function() {
             let getID = $("#updateCombId").val();
             del_comb_change(getID);
        }
    </script>
{% endblock %}