{% extends 'base1.html' %}
{% block content %}
<style>

* {
  box-sizing: border-box;
}


/* Start HR TAG */
hr.new1 {
  border-top: 1px solid red;
}
/* END HR TAG */
/* Start Logo Menu */

.navbarlogo {
    overflow: hidden;
    background-color:#f2f2f2;
}

.brandlogo .brandlogolink {
    overflow: hidden;
    background-color:#f2f2f2;
    float: left;
    font-size: 12px;
    color: #333;
    text-align: center;
    padding: 22px 30px;
    text-decoration: none;
}



.navbarlogo .navbarlogolink {
    float: right;
    font-size: 12px;
    color: #333;
    text-align: center;
    padding: 22px 30px;
    text-decoration: none;
}

/* End Logo Menu */
/* Start Buttons */
.signupbutton{
    float: right;
    overflow: hidden;
    font-size: 11px;
    color: #333;
    text-align: center;
    padding: 6px 20px;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    background-color: white;
    border: 1px solid #008CBA;
    margin : 15px;

}

.signupbutton:hover {
  background-color: #008CBA;
  color: white;
}
/* End Buttons */
/* Start Menu Nav Bar second menu */


.navbarmenu {
    overflow: hidden;
    background-color:#f2f2f2;
}

.navbarmenu .navbarmenulink {
    float: left;
    font-size: 12px;
    color: #333;
    text-align: center;
    padding: 22px 30px;
    text-decoration: none;
}

.menudropdown {
    float: left;
    overflow: hidden;
}

.menudropdown .menudropbtn {
    font-size: 12px;
    border: none;
    outline: none;
    color:#333;
    padding: 22px 30px;
    background-color: inherit;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
}

.menudropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menudropdown-content .menudropdownlink {
    float: none;
    font-size: 12px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.menudropdown-content .menudropdownlink:hover {
    background-color:#e6eeff;
}

.menudropdown:hover .menudropdown-content {
    display: block;
}
/* End Menu Nav Bar second menu */
/* End style.css */
.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  text-align: center;
}
.flex-item-sidemenu {
  /* background-color: #f1f1f1; */
  padding: 10px;
  flex: 20%;
}

.flex-item-constanttable {
  /* background-color: #f1f1f1; */
  padding: 10px;
  flex: 40%;
}

.flex-item-eventtable{
  /* background-color: dodgerblue; */
  padding: 10px;
  flex: 40%;
}

.flex-item-housetable {
  /* background-color: #f1f1f1; */
  padding: 50px;
  flex: 80%;
}
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

/* Start EVENT Table ONE*/
.eventtable {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    width: 90%;
    color: black;
    margin-top: 50px;
    border-collapse: collapse;
    border-style: hidden;
    margin-top : 50px;
    margin-bottom : 50px;
  }

.eventtd{
    border: 1px solid  #b3b3b3;
    text-align: center;
    padding: 8px;
}


.eventth {
    padding: 8px;
    border: 1px solid  #b3b3b3;
    text-align: center;
}



.eveonetr:nth-child(even) {
    background-color: #cce0ff;
}

.evetwotr:nth-child(even) {
    background-color: #ffddcc;
}

.housesigntr:nth-child(even) {
    background-color: #cce0ff;
}

/* End EVENT Table ONE*/
/* Start HOUSE Table */
.housetable {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    width: 90%;
    color: black;
    margin-top: 50px;
    border-collapse: collapse;
    border-style: hidden;
    margin-top : 50px;
    margin-bottom : 50px;
  }

.houseth {
    padding: 8px;
    border: 1px solid  #dddddd;
    text-align: center;
}



.housetd{
    border: 1px solid #cccccc;
    border-collapse: collapse;
    padding: 8px;
    text-align: center;

}
.housetdorange {
  border: 1px solid #A9A9A9;
  border-collapse: collapse;
  padding: 8px;
  background-color: #ffbf80;
  text-align: center;
}






.housetr:nth-child(even) {
    background-color: #e6f0ff;
}

/* End HOUSE Table */
/* Start CONSTANT Table */
.constanttable {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    width: 90%;
    color: black;
    margin-top: 50px;
    border-collapse: collapse;
    border-style: hidden;
    margin-top : 50px;
    margin-bottom : 50px;
  }

.constanttd{
    border: 1px solid  #dddddd;
    text-align: center;
    padding: 8px;
}


.constantth {
    padding: 8px;
    border: 1px solid  #dddddd;
    text-align: center;
}



tr:nth-child(even) {
    background-color: #f7f7f7;
}



.basictr:nth-child(even) {
    background-color: #e6ecff;
}
.conjtr:nth-child(even) {
    background-color: #e6ecff;
}

.tr180:nth-child(even) {
    background-color: #f2e6ff;
}

.tr120l:nth-child(even) {
    background-color: #e6ecff;
}

.tr120g:nth-child(even) {
    background-color: #f2e6ff;
}

.tr90l:nth-child(even) {
    background-color: #e6ecff;
}

.tr90g:nth-child(even) {
    background-color: #f2e6ff;
}

.tr60l:nth-child(even) {
    background-color: #e6ecff;
}

.tr60g:nth-child(even) {
    background-color: #f2e6ff;
}

.tr150g:nth-child(even) {
    background-color: #ffd6cc;
}

/* End CONSTANT Table */
/* H2 TITLE STYLE */
.titleh2 {
  display: block;
  font-size: 1.8em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align:center;
}
/* H2 TITLE END */
/* H3 TITLE STYLE */
.titleh3 {
  display: block;
  font-size: 1.2em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align:center;
}
/* H3 TITLE END */
</style>


    
    <h2 class="titleh2">ASPECTS + SIGN</h2>
    <hr class="new1">
    <div class="flex-container">
        <div class="flex-item-eventtable">
            <div align="center">
                <table class="eventtable">
                    <tr>
                        <th class="eventth">Conj</th>
                        <th class="eventth"> 180° </th>
                        <th class="eventth"> 150°< </th>
                        <th class="eventth"> 120°< </th>
                        <th class="eventth"> >120° </th>
                        <th class="eventth"> 90°< </th>
                        <th class="eventth"> >90° </th>
                        <th class="eventth"> 60°< </th>
                        <th class="eventth"> >60° </th>
                        <th class="eventth"> Total </th>
                        <th class="eventth"> Sign </th>
                        <th class="eventth"> Aspects + Sign </th>
                        <th class="eventth"> Consolidate </th>
                    </tr>
                    {% for i in point_planet_aspects_df %}
                    <tr class="basictr">
                        <td class="eventtd">{{i.Conj|floatformat:1}}</td>
                        <td class="eventtd">{{i.180|floatformat:1}}</td>
                        <td class="eventtd">{{i.150greater|floatformat:1}}</td>
                        <td class="eventtd">{{i.120lesser|floatformat:1}}</td>
                        <td class="eventtd">{{i.120greater|floatformat:1}}</td>
                        <td class="eventtd">{{i.90lesser |floatformat:1}}</td>
                        <td class="eventtd">{{i.90greater|floatformat:1}}</td>
                        <td class="eventtd">{{i.60lesser|floatformat:1}}</td>
                        <td class="eventtd">{{i.60greater|floatformat:1}}</td>
                        <td class="eventtd">{{i.total|floatformat:1}}</td>
                        <td class="eventtd">{{i.sign|floatformat:1}}</td>
                        <td class="eventtd">{{i.aspectsign|floatformat:1}}</td>
                        <td class="eventtd">{{i.consolidate|floatformat:1}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="chart-container" style="position: relative; height:20vh; width:80vw">
        <canvas id="myChart"></canvas>
        </div>
    <script>
        let planet_lis = {{planetLis|safe}}
        let total_lis = {{aspectsign|safe}}
        
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: planet_lis,
                datasets: [{
                    label: 'Graph of Planet Total',
                    data: total_lis,
                    backgroundColor: [
                        'rgba(21, 117, 213, 1.0)',
                        'rgba(21, 117, 213, 1.0)',
                        'rgba(21, 117, 213, 1.0)',
                        'rgba(21, 117, 213, 1.0)',
                        'rgba(21, 117, 213, 1.0)',
                        'rgba(21, 117, 213, 1.0)',
                        'rgba(21, 117, 213, 1.0)',
                        'rgba(21, 117, 213, 1.0)',
                        'rgba(21, 117, 213, 1.0)',
                        'rgba(21, 117, 213, 1.0)'
                    ],
                    borderColor: [
                        'rgba(21, 117, 213, 1.0)',
                        'rgba(21, 117, 213, 1.0)',
                        'rgba(21, 117, 213, 1.0)',
                        'rgba(21, 117, 213, 1.0)',
                        'rgba(21, 117, 213, 1.0)',
                        'rgba(21, 117, 213, 1.0)',
                        'rgba(21, 117, 213, 1.0)',
                        'rgba(21, 117, 213, 1.0)',
                        'rgba(21, 117, 213, 1.0)',
                        'rgba(21, 117, 213, 1.0)'
                    ],
                    borderWidth: 1,
                    
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
            }
        });
    </script>

{% endblock %}